{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div id="app"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script>
    {% if currentCategoryId is defined %}
        window.currentCategoryId = '{{ currentCategoryId|e('js') }}';
    {% else %}
        window.currentCategoryId = null;
    {% endif %}
</script>

{{ encore_entry_script_tags('products') }}

{% endblock %}


{% block stylesheets %}

{{ parent() }}

{{ encore_entry_link_tags('products') }}

{% endblock %}